<section class="container-banner">
  <div class="container">
    <div class="row">
      <div class="col-3" *ngFor="let thumbnail of thumbnails">
        <app-youtube-thumbnail-card
          [thumbnailUrl]="thumbnail.thumbnailUrl"
          [title]="thumbnail.title"
          [channelName]="thumbnail.channelName"
          [views]="thumbnail.views"
          [uploadTime]="thumbnail.uploadTime"
          [duration]="thumbnail.duration"
          [channelIconUrl]="thumbnail.channelIconUrl"
          [video]="thumbnail.video"
          [videoId]="thumbnail.videoId"
        ></app-youtube-thumbnail-card>
      </div>
    </div>
  </div>
</section>
